:root {
  --dark: #222222;
  --gray: #878e88;
  --gray-dark: #7a817b;
  --white: #ffffffda;
  --primary: #0b57d0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--dark);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.main {
  width: 100%;
  height: calc(100vh);
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: var(--dark);
  color: rgba(255, 255, 255, 0.87);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  .main {
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
