.table {
    width: 100%;
    margin-top: 10px;
}

.table thead {
    border-bottom: 1px solid;

}

.table tbody td,
.table thead th {
    border: 1px solid;
}

.table tbody td,
.table tfoot td,
.table thead th {
    color: inherit;
    background: inherit;
}